<% indicate_post ||= false %>

<div class='row <%="comment_section_#{comment.id}"%>'>
  
  <% if logged_in? %>
    <div class="span0 text-center">
      <%= link_to votes_path(vote: true, type: 'Comment', id:comment.id), class: 'vote_link', remote: true, method: 'post' do %>
        <%= fa_icon('chevron-up', class: vote_true(comment) ? 'voted' : 'vote_buttons') %>
      <% end %>
          <h4 id="comment_vote_<%= comment.id %>"><%= total_votes(comment) %></h4>
      <%= link_to votes_path(vote: false, type: 'Comment', id:comment.id), class: 'vote_link', remote: true,  method: 'post' do %>
        <%= fa_icon('chevron-down', class: vote_false(comment) ? 'voted' : 'vote_buttons') %>
      <% end %>
    </div><!-- end div.span0 -->
  <% else %>
    <div class="span0 text-center">
       <h4> <%= total_votes(comment) %> </h4>
    </div>
  <% end %>

  <div class="span8" >
    <blockquote>
      <% if indicate_post == true %>
        <h4>Commented on <%= link_to "#{comment.post.title}", post_path(comment.post)%></h3>
      <% end %>
      <p><%= comment.body %></p>
      <footer>
        By <%= comment.creator.username %> at <%= comment.created_at %>
      </footer>
    </blockquote>
  </div>
</div>
