<%= link_to votes_path(vote: true, type: 'Comment', id:comment.id),  method: 'post' do %>
  <%= fa_icon('chevron-up') %>
<% end %>
  <br/>
<%= link_to votes_path(vote: false, type: 'Comment', id:comment.id),  method: 'post' do %>
  <%= fa_icon('chevron-down') %>
<% end %>

 <blockquote>
  <p><%= comment.body %></p>
  <footer>
    By <%= comment.creator.username %> at <%= comment.created_at %>
  </footer>
</blockquote>