<% if logged_in? %>
<div class=<%= "post_section_#{post.slug}" %>>
  <div class="well span0 text-center vote-well">
    <%= link_to votes_path(vote: true, type: 'Post', slug:post.slug), remote: true,  method: 'post', class: 'vote_link' do %>
      <%= fa_icon('chevron-up', class: vote_true(post) ? "voted #{post.id}_arrow" : "#{post.id}_arrow") %>
    <% end %>
      <h4 id= <%= "post_vote_#{post.slug}" %> ><%= total_votes(post) %></h4>
    <%= link_to votes_path(vote: false, type: 'Post', slug:post.slug), remote: true, method: 'post', class: 'vote_link' do %>
      <%= fa_icon('chevron-down', class: vote_false(post) ? "voted #{post.id}_arrow" : "#{post.id}_arrow") %>
    <% end %>
  </div>
<% else %>
  <div class="well span0 text-center">
    <h4 <%= "post_vote_#{post.slug}" %>><%= total_votes(post) %></h4>
  </div>
<%end %>

<div class="well span10">
<%= render post.categories %>
  <h4><%= link_to post.title, fix_url(post.url) %></h4>    
   <p><%= post.description %></p>
    <p>
      <span class="quiet">Posted by <%= post.creator.username %> </span>
      <small> at <%= post.created_at %></small>
    </p>
  <small>
    <span><%= link_to "#{post.comments.size} comments", post_path(post) %></span>
  </small>
</div>
</div>

