<p class="pull-right">
  [<%= link_to "Edit the post", edit_post_path(@post) %>]
</p>

<%= render @post.categories %>
<%= render 'shared/head_content', title: @post.title %>

<h4><%= @post.description %></h4>
<hr/>

<%= render 'shared/errors',
    obj: @comment,
    msg: "You cannot create the comment because:" %>

<%= form_for [@post, @comment] do |f| %>
  <%= f.label :body %>
  <%= f.text_field :body %>
  </br>
  <%= f.submit "Send Comment" %>
<% end %>


<h3><%= has_comments? %></h3>

<div class="row"> 
  <%= render @post.comments %>
</div>
