<p class="pull-right">
  [<%= link_to "Edit the post", edit_post_path(@post) %>]
</p>

<%= render @post.categories %>
<%= render 'shared/head_content', title: @post.title %>

<h4><%= @post.description %></h4>
<hr/>

<h3><%= has_comments? %></h3>

<div class="row"> 
  <% @post.comments.each do |comment| %>
    <blockquote>
      <p><%= comment.body %></p>
      <footer>
        By <%= comment.creator.username %> at <%= comment.created_at %>
      </footer>
    </blockquote>
  <% end %>
</div>
