<% if current_user == @post.creator || admin? %>
  <p class="pull-right">
    [<%= link_to "Edit the post", edit_post_path(@post) %>]
  </p>
<% end %>

<%= render @post.categories %>
<%= render 'shared/head_content', title: @post.title %>

<h4><%= @post.description %></h4>
<hr/>

<%= render 'shared/errors',
    obj: @comment,
    msg: "You cannot create the comment because:" %>

<% if logged_in? %>
  <%= form_for [@post, @comment] do |f| %>
    <div class="form-group">
    <%= f.label :body, 'Leave a comment' %>
    <%= f.text_area :body, rows: 3%>
    </div>
    <%= f.submit "Send Comment", class: "btn btn-default" %>
  <% end %>
<% end %>


<h3><%= has_comments?(@post) %></h3>

<div class="row"> 
  <%= render @post.comments %>
</div>
